*{
margin:0px;
padding:0px;
}
h1{
    font: bold 20px tahoma;
    color: white;
    font-style: oblique;
}
p{
font: 18px tahoma;
}
header{
    margin:0px;
    padding:20px;
    width:100%-20px;
    height:2%;
    background: black;
}
body{
    background:lightgrey;
}
#meat{
    text-align: center;
    padding: 20px;
}
fieldset {
    margin:20px;
    padding:10px;
    width: 50%;
    margin-left: 25%;
}